{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<link rel="stylesheet" href="{% static 'css/diary/diary_form.css' %}">
<script src="{% static 'js/diary/diary_form.js' %}"></script>


<main>
    <div class="container">
        <!-- 답변 수정-->
        <form method="post">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="content" class="form-label">답변내용</label>
                <textarea class="form-control" name="content" id="content"
                        rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
</main>
{% endblock %}