{% extends 'base.html' %}

{% load custom_date %}
{% load diary_filter %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<link rel="stylesheet" href="{% static 'css/diary/diary_list.css' %}">
<link rel="stylesheet" href="{% static 'css/diary/diary_every.css' %}">
<main>
    <div class="container">
        <div class="every_list_box">
            <div class="list_box">
                <div class="list_title">베스트 댓글</div>
                {% if best_diaries %}
                    <ul class="best_ul">
                        {% for diary in best_diaries %}
                            <li>
                                <a href="{% url 'diary:detail' diary.diary_id %}">
                                    <span style="display: flex; gap: 30px;" class="desk_span">
                                        <div class="content">
                                            <span>{{ forloop.counter }}</span> 
                                            <span>{{ diary.title }}</span>
                                            {% if diary.answer_set.count > 0 %}
                                                <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="ext_box">
                                            <span>{{ diary.author.username }}</span>
                                            <span>{{ diary.create_date|relative_time  }}</span>
                                        </div>
                                    </span>
                                    <span style="display: flex; gap: 30px;" class="molie_span">
                                        <span>{{ forloop.counter }}</span> 
                                        <div class="content">
                                            {% if diary.answer_set.count > 0 %}
                                                <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                            {% endif %}
                                            <span>{{ diary.title }}</span>
                                        </div>
                                        <div class="ext_box">
                                            <span>{{ diary.author.username }}</span>
                                            <span>{{ diary.create_date|relative_time  }}</span>
                                        </div>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
    
            <div class="list_box">
                <div class="list_title">베스트 추천</div>
                {% if recommend_questions %}
                    <ul class="best_ul">
                        {% for diary in recommend_questions %}
                            <li>
                                <a href="{% url 'diary:detail' diary.diary_id %}">
                                    <span style="display: flex; gap: 30px;" class="desk_span">
                                        <div class="content">
                                            <span>{{ forloop.counter }}</span>
                                            <span>{{ diary.title }}</span>
                                            {% if diary.answer_set.count > 0 %}
                                                <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                            {% endif %}

                                        </div>
                                        <div class="ext_box">
                                            <span>{{ diary.author.username }}</span>
                                            <span>{{ diary.create_date|relative_time  }}</span>

                                        </div>
                                    </span>
                                    <span style="display: flex; gap: 30px;" class="molie_span">
                                        <span>{{ forloop.counter }}</span>
                                        <div class="content">
                                            {% if diary.answer_set.count > 0 %}
                                                <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                            {% endif %}
                                            <span>{{ diary.title }}</span>

                                        </div>
                                        <div class="ext_box">
                                            <span>{{ diary.author.username }}</span>
                                            <span>{{ diary.create_date|relative_time  }}</span>

                                        </div>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
                    
            <div class="list_box">
                <div class="list_title">모두의 일기</div>
    
                <div class="list_search_box">
                    <div class="ls_box">
                        <span class="search_select_box">전체</span>
                        <ul class="search_ul">
                            <li class="search_li" id="all">전체</li>
                            <li class="search_li" id="title_content">제목/내용</li>
                            <li class="search_li" id="answer_content">답변</li>
                            <li class="search_li" id="question_id">일기 글쓴이</li>
                            <li class="search_li" id="answer_id">답변 글쓴이</li>
                        </ul>
                        <input placeholder="검색" type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                        <div class="search_group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btn_search">
                                <img src="{% static 'img/common/search_icon.png' %}" alt="검색">
                            </button>
                        </div>
                    </div>
                </div>
                {% if diary_list2 %}
                    <ul class="list_ul">
                        
                    {% for diary in diary_list2 %}
                        <li>
                            <a href="{% url 'diary:detail' diary.diary_id %}">
                                <span style="display: flex; gap: 30px;" class="desk_span">
                                    <div class="content">
                                        <span>{{ diary_list2.paginator.count|sub:diary_list2.start_index|sub:forloop.counter0|add:1 }}</span>
                                        <span>{{ diary.title }}</span>
                                        {% if diary.answer_set.count > 0 %}
                                        <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="ext_box">
                                        <span>{{ diary.author.username }}</span>
                                        <span>{{ diary.create_date|relative_time  }}</span>
                                    </div>
                                </span>
                                <span style="display: flex; gap: 30px;" class="molie_span">
                                    <span>{{ diary_list2.paginator.count|sub:diary_list2.start_index|sub:forloop.counter0|add:1 }}</span>
                                    <div class="content">
                                        {% if diary.answer_set.count > 0 %}
                                        <span class="text-danger small mx-2" style="font-size: 11px; color: red;">{{ diary.answer_set.count }}</span>
                                        {% endif %}
                                        <span>{{ diary.title }}</span>
                                    </div>
                                    <div class="ext_box">
                                        <span>{{ diary.author.username }}</span>
                                        <span>{{ diary.create_date|relative_time  }}</span>
                                    </div>
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>일기를 작성해주세요~ :D</p>
                {% endif %}
        
                {% if diary_list2 %}
                    <!-- 페이징처리 시작 -->
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="?page=1"><<</a>
                        </li>
                        <!-- 이전페이지 -->
                        {% if diary_list2.has_previous %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ diary_list2.previous_page_number }}" href="javascript:void(0)"><</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
                        </li>
                        {% endif %}
                        <!-- 페이지리스트 -->
                        {% for page_number in diary_list2.paginator.page_range %}
                        {% if page_number == diary_list2.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <!-- 다음페이지 -->
                        {% if diary_list2.has_next %}
                        <li class="page-item">
                            <a class="page-link" data-page="{{ diary_list2.next_page_number }}" href="javascript:void(0)">></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <a class="page-link" data-page="{{ diary_list2.paginator.num_pages }}" href="javascript:void(0)">>></a>
                        </li>
                    </ul>
                    <!-- 페이징처리 끝 -->
                
                {% endif %} 
                <form id="searchForm" method="get" action="{% url 'diary:diary_every' %}">
                    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                    <input type="hidden" id="page" name="page" value="{{ page }}">
                    <input type="hidden" id="content" name="content" value="{{ content }}">
                </form>
    
            </div>

        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('content').value = document.getElementById('content').value;
        document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });


    const urlParams = new URL(location.href).searchParams;
    const content2 = urlParams.get('content');
    if (content2) {
        $('.search_select_box').html(content2);

        if(content2 == '전체') {
            $('.ls_box .form-control').val('');
        }
    } else {
        console.log('검색 노노')
    }


    $('.search_select_box').on('click',function(){
        $('.search_ul').css('display','flex');
    })
    $('#content').val('전체');
    $('.search_li').on('click',function(){
        content = $(this).text();
        $('#content').val(content);
        $('.search_select_box').html(content);
    })

    $(document).on('click', function(event) {
        // 바탕을 클릭했을 때의 동작
        if (!$(event.target).closest('.search_select_box').length) {
            $('.search_ul').css('display', 'none');
        }
    });
</script>
{% endblock %}