{% extends 'base.html' %}

{% load custom_date %}
{% load diary_filter %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<link rel="stylesheet" href="{% static 'css/common/login.css' %}">

<main>
    <div class="container">
        <div class="login_box">
            <div class="login_title">비밀번호 변경하기</div>
            <div class="login_form">
                <form method="post" action="">
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="mb-3">
                        <label for="old_password">기존 비밀번호</label>
                        <input placeholder="Old Password" type="password" name="old_password" id="old_password">
                    </div>
                    <div class="mb-3">
                        <label for="new_password1">새 비밀번호</label>
                        <input placeholder="New Password" type="password" name="new_password1" id="new_password1">
                    </div>
                    <div class="mb-3">
                        <label for="new_password2">비밀번호 확인</label>
                        <input placeholder="New Password Check" type="password" name="new_password2" id="new_password2">
                    </div>
                    <button type="submit" class="submit">변경하기</button>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}